.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.button,
.selected {
    border: none;
    border-radius: 30px;
    padding: 5px;
    font-size: 24px;
}

.selected {
    background: #00F;
    color: white;
}